/* Цвет основного текста: rgba(33, 33, 33, 1) */
/* Вторичный цвет текста: rgba(117, 117, 117, 1) */
/* Цвет адрессных ссылок: rgba(255, 255, 255, 0.6) */
/* Белый: rgba(255, 255, 255, 1) */
/* Акцент: rgba(33, 150, 243, 1) */
/* Основной цвет фона: #E5E5E5 */
/* Вторичный цвет фона: #F5F4FA */

:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --addres-links-color: rgba(255, 255, 255, 0.6);
  --basic-backgroud-color: rgba(255, 255, 255, 1);
  --background-color: rgba(245, 244, 250, 1);
  --white-color: rgba(255, 255, 255, 1);
  --black-color: rgba(0, 0, 0, 1);
}
/* Для элемента <body> задано свойство font-family с доминантным на макете шрифтом Roboto. */
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--basic-backgroud-color);
}
/* Логотип */
.studio-logo {
  color: var(--black-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 119%;
  letter-spacing: 0.03em;
}
/* Стиль дополнительного цвета логотипа */
.web-effect {
  color: var(--accent-color);
  /* Header */
}
/* Псевдоклассы состояния - Активируется когда курсор мыши находится в пределах элемента, 
например при наведении мыши на ссылку или любой другой элемент. 
Текст контактов в хедере и футере меняет цвет при ховере и фокусе. */
.header .studio-contacts {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.02em;
}
.header .studio-contacts:hover,
.header .studio-contacts:focus {
  color: var(--accent-color);
}
.studio-nav {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.studio-nav:hover,
.studio-nav:focus {
  color: var(--accent-color);
}
.studio-nav.current {
  color: var(--accent-color);
}
/* Principal section */
.principal-section-title {
  background-color: rgba(47, 48, 58, 1);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.order-button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 116%;
  text-align: ;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* Features */
.features .title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-p-style {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
/* Our Team */
.team .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-unit {
  font-size: 16px;
  line-height: 118%;
  text-align: ;
  letter-spacing: 0.03em;
}
/* Footer */
.footer .studio-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  background-color: var(--black-color);
  color: var(--addres-links-color);
}
/* Projects Portfolio */
.projects .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.projects .project-unit {
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Projects Filter Buttons */
.filter-button {
  background-color: rgba(245, 244, 250, 1);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.studio-logo,
.studio-nav,
.studio-address,
.header .studio-contacts,
.footer .studio-contacts,
.project-card {
  text-decoration: none;
}
.studio-address {
  background-color: rgba(47, 48, 58, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.list {
  list-style: none;
}
