/* Для элемента <body> задано свойство font-family с доминантным на макете шрифтом Roboto. */
body {
  font-family: 'Roboto';
}
/* Псевдоклассы состояния - Активируется когда курсор мыши находится в пределах элемента, 
например при наведении мыши на ссылку или любой другой элемент. 
Текст контактов в хедере и футере меняет цвет при ховере и фокусе. */
.studio-contacts {
  color: teal;
}
.studio-contacts:hover,
.studio-contacts:focus {
  color: orange;
}
